body {
    margin: 0;
    padding: 0;
    font-family: 'Slate For OnePlus';
}

.MainBoxFB {
    width: 100%;
    height: 100vh;
    margin: 20px 0 0 20px;
    overflow: hidden;
    position: relative;
}

.titleFB {
    font-weight: 900;
}

.feedbackText {
    width: 50%;
    height: 40%;
    resize: none;
}

.fileUploadFB {
    font-family: 'Slate For OnePlus';
    width: 50%;
}

.fileUploadFB, .fileUploadFB + input {
    display: inline-block;
    border: 1px solid #a9a9a9 !important;
    background-color: white;
    border-radius: 0px !important;
    font-size: 14px;
    padding: 7px !important;
    color: gray;
}

.fileUploadFB + input {
    padding: 5px 12px;
    margin-left: 2px;
    font-family: 'Slate For OnePlus' !important;
    border: 0px;
    border-radius: 3px;
    background-color: #e8e8e8 !important;
    color: black !important;
    -webkit-text-fill-color: black !important;
}

::-webkit-file-upload-button {
    -webkit-appearance: none;
    align-items: start;
    background-color: #e8e8e8 !important;
    font-family: 'Slate For OnePlus' !important;
    color: black !important;
    -webkit-text-fill-color: black !important;
    border: 0px;
    border-radius: 3px;
    font-size: 14px;
    padding: 4px 10px;
    position: relative;
}

::-webkit-file-upload-button:focus, ::-webkit-file-upload-button:hover, .fileUploadFB + input:hover, .fileUploadFB + input:focus {
    background-color: #1473e6 !important;
    color: white !important;
    -webkit-text-fill-color: white !important;
    transition: 0.2s;
    outline: none;
}

::-ms-browse {
    background-color: #e8e8e8 !important;
    border: 1px solid gray;
    font-size: 14px;
    padding: 8px;
}
.fileUploadFB::-ms-value { border: none;  }

.submitFB {
    background-color: #1473e6;
    border: 0;
    margin-top: 20px;
    border-radius: 2px;
    color: white;
    padding: 5px 30px;
}